body {
    background-color: #f5f5f5;
}

nav {
   ul a{
        &:hover, &:active {
            color: #ff3d00 !important;
        }
    }
    img {
        width: 150px;
        padding-top: 1px; 
    }
    .active a{
        color: #ff3d00 !important;
        background: none !important;
    }
}


.header {
    .white-text {
        font-size: 3.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .settings {
        font-size: 2.5rem !important;
    }
    .d-link {
        margin-top: 3rem;
    }
}

.main {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    p {
        font-size: 1rem;
        padding-left: 1rem;
        // height: 20px; 
    }
}

.main_2 {
    ul {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
         border-radius: 5px;
         li {
             span {
                 font-size: 2rem;
             }
         }
    }
    .row .col {
        padding: 0 !important;
    }
}


/* .....................
Media Queries
.......................*/

@media screen and (max-width: 480px) {
    nav {
        img {
            width: 100px;
            padding-top: 5px;
        }
    }

    .header {
        .white-text {
            
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {

    nav {
        img {
            width: 100px;
            padding-top: 10px;
        }
    } 

}