// Variables
$muskHeight: 950px;
$zeroMargin: 0 0;
$colorWhite: #fff;
$colorBrown: brown;
$footerBrown: rgb(59, 12, 12);
//Mixins
@mixin linkColors {
    &:hover,
    &:focus {
        outline: 3px solid $colorBrown;
    }
}

// Styles Below
.wrapper {
    // background-image: url(/home/sqxo/Documents/Codetrain/Projects/KawoLegal/picture.jpeg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    background-color: #eee;
    height: $muskHeight;
    margin: $zeroMargin;
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
        .navbar {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }
    }
    a.navbar-brand {
        @include linkColors;
        width: 25% !important;
    }
    .navbar-brand {
        img {
            width: 100%;
        }
    }
    .bg-light {
        background-color: $footerBrown !important;
    }
    .navbar-light .navbar-toggler {
        border: 4px solid $colorBrown !important;
    }
    .links-Text {
        li a {
            color: $colorBrown !important;
        }
        .nav-link {
            @include linkColors;
        }
    }
    .navbar-expand-lg .navbar-collapse {
        font-size: 1.5rem !important;
    }
    .big-search {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .content {
        .container {
            form {
                padding-top: 2.5rem !important;
                padding-bottom: 2.5rem !important;
            }
        }
    }
}

.footer {
    background-color: rgb(59, 12, 12); // height: 10vh;
    color: $colorWhite;
    .container {
        font-size: 1.2rem;
        padding-top: 1.5rem;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        ul {
            list-style: none;
            li {
                display: inline;
                padding: 1rem;
            }
        }
    }
}

// Media Qs

@media screen and (max-width: 525px) {
    .footer {
        .container {
          font-size: .9em;
        }
    }
}